@model valentines.ViewModels.SubmitViewModel
@{
	ViewBag.Title = "Questionnaire";
}
@section BetweenHeaderAndContent {
	<div class="hero-unit hero-section" id="heroheader">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="ac">The Bishop's School Valentine's Day Survey</h1>
				<h2 class="ac">Fill out the form below to get your matches!</h2>
			</div>
		</div>
	</div>
</div>
}

<div class="row">
	<div class="span9">
        @if (ViewBag.alreadySubmitted)
        {
            <p>Thank you for submitting the survey! Results will be available soon.</p>
        }
        else
        { 
            <p>The form closes on @ViewBag.formCloses.ToShortDateString() - please submit by then!</p>
        }

		@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
  {
			@Html.ValidationSummary("Whoops! Please correct the errors and try again.")

            @foreach(var q in Model.Questions)
            { 
			    <div class="control-group">
				    <label class="control-label" for="q-@q.qID">Question @q.qID</label>
				    <div class="controls">
                        <p>@q.Text</p>
                        @foreach (var a in q.Answers)
                        { 
                            <label class="radio">
                                @if(ViewBag.alreadySubmitted)
                                {
                                    @Html.RadioButtonFor(m=>Model.Questions.Where(u=>u.qID==q.qID).Single().SelectedAnswer,a.Id, new { disabled = "disabled" }) 
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m=>Model.Questions.Where(u=>u.qID==q.qID).Single().SelectedAnswer,a.Id) 
                                }
                                @a.Text
                            </label>
                        }
				    </div>
			    </div>
            }
  
            @if (!ViewBag.alreadySubmitted)
            {
			    <div class="form-actions">
				    <button type="submit" class="btn btn-large btn-primary">Submit form (no undo)</button>
			    </div>
            }
    }
	</div>
</div>